@import "../../styles/util";
@import "../../styles/colors";

.mdx_banner_inner {
  position: relative;
  min-height: calc(100vh - 350px);
  display: flex;
  align-items: center;
  padding-top: size(40);
  padding-bottom: size(40);
  // padding-bottom: 40px;


  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.40);
    opacity: 0.86;
    z-index: 1;
  }
  @include min(1200) {
    min-height: calc(100vh - 130px);
  }


  .banner_inner_cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // filter: blur(4px);
    &:after{
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      backdrop-filter: blur(4px);
    }
  }

 

  .banner_inner_content {
    position: relative;
    z-index: 3;
    text-transform: uppercase;
    color: $white-color;

    &_area{

    }
    &_subtitle{
      font-family: $secondary-font;
      @include max(767.9){
        font-size: 17px;
      }
    }
    &_title{
      font-family: $secondary-font;
      font-weight: 800;
      
      @include min(1200){
        font-size: size(80);
      }
      @include min-max(992,1199.9){
        font-size: 65px;
      }
      @include min-max(768,991.9){
        font-size: 50px;
      }
      @include min-max(576,767.9){
        font-size: 40px;
      }
      @include max(575.9){
        font-size: 30px;
      }
    }
    &_border_title{
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px white;
    }
   
   
   
    .banner_inner_cover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }


    .banner_inner_content {
      position: relative;
      z-index: 3;
      text-transform: uppercase;
      color: $white-color;


      h5 {
        font-family: $secondary-font;
      }

      h1 {
        font-family: $secondary-font;
        font-weight: 700;
        margin-bottom: 40px;
      }
    }
  }
  
}

.mdx_related_course_swiper{
  margin-left: -12px!important;
  margin-right: -12px!important;
  max-width: 100vw;
  :global(.swiper-slide){
    padding-left: 15px;
    padding-right: 5px;
    @include min(992) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  :global(.swiper-scrollbar){
    
    width: calc(100vw - 30px)!important;
    margin-left: 15px;
    &::before {
      background-color: rgba(255,255,255,0.3) !important;
    }
    :global(.swiper-scrollbar-drag){
      &::before {
        background: $white-color !important;
      }
    }
  }
}
