@import '../../styles/util';
@-webkit-keyframes tabHover {
    0% {
      left: -100%;
    }
    70% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }
.our_campuses {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    background-color: $blue-alt;
    :global(.container-fluid) {
        background-color: transparent !important;
    }
    * {
        background-color: transparent !important;
    }

    &>* {
        position: relative;
        z-index: 1;
    }
    :global(.title) {
        max-width: 510px;
    }
    @include min(992) {
        padding: size(63) size(0);
        height: 100%;
    }
    :global(.accordion) {
        border-top: none;
    }
    :global(.accordion-button) {
        text-transform: uppercase;
    }
    &_tablist {
        list-style: none;
        max-width: 230px;
        padding-left: 0;
        padding-top: size(100);
        li {
            position: relative;
            line-height: 1.2;
            overflow: hidden;
            transition: color cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
            a {
                padding: size(20) 0;
                color: $white-color;
                font-size: size(30);
                font-weight: bold;
                text-decoration: none;
                display: block;
                text-transform: uppercase;
            }
            &.active {
                a {color: $hover-color;}
            }
            &::before,&::after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                bottom: 0;
                left: 0;
                transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
                width: 100%;
            }
            &::before {
                background-color: $white-color;
            }
            &::after {
                background-color: $hover-color;
                left: -100%;
            }
            &:hover {
                color: $hover-color;
                &::after {
                    animation-duration: .5s;
                    animation-name: tabHover;
                }
            }
        }
    }


    .earth_glob {
        position: absolute;
        // visibility: hidden;
        z-index: 0;
        bottom: 0%;
        right: 0%;
        width: 75%;
        // pointer-events: none;
        margin-bottom: 0;
        img {
            opacity: .5;
        }
        &_point {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0px;
            right: 0px;
            &>figure {
                width: 46.17px;
                max-width: 9%;
                height: auto;
                position: absolute;
                margin: 0;
                overflow: hidden;
                img {
                    opacity: 0;
                    transform: translateY(20px) scale(0);
                    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
                }
                &.active {
                    img {
                        opacity: 1;
                        transform: translateY(0px) scale(1);
                    }
                }
            }
            :global(.dubai) {
                bottom: 35%;
                right: 21%;
            }
            :global(.malta) {
                bottom: 38%;
                right: 40%;
            }
            :global(.london) {
                bottom: 50%;
                right: 50%;
            }
            :global(.mauritius) {
                bottom: 6%;
                right: 12%;
            }
        }
    }
}

:global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors>:not(#INDWrap)),
:global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors>:not(#INDWrap) *) {
    .our_campuses {
        :global(.container-fluid) {
            background-color: transparent !important;
        }
        * {
            background-color: transparent !important;
        }
    }
}