@import "../../styles/util";
@import "../../styles/colors";
.section {
  background-color: var(--background-color);
  --section-padding-y: #{size(60)};
  --section-padding-x: 0;
  padding: var(--section-padding-y) var(--section-padding-x);
  // @include min(1200) {
  //   --section-padding-y: #{size(100)};
  // }
}
.mdx_course_intro {
  --item-gap: 16px;
  padding: 22px 22px;
  background-color: $white-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: size(20);
  gap: var(--item-gap);
  @include min(768) {
    --item-gap: 16px;
  }
  @include min(1200) {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    --item-gap: #{size(44)};
  }
  @include min(1800) {
    --item-gap: 2rem;
  }

  .intro_item {
    flex: 0 0 auto;
    position: relative;
    width: calc(50% - var(--item-gap));
    padding: 12px 0;
    @include min(768) {
      text-align: center;
      width: calc(33.3333% - var(--item-gap));
      padding: size(20) 0;
    }
    @include min(1200) {
      width: auto;
      max-width: 20%;
      padding: size(30) 0;
      //   min-width: 200px;
    }
    @include min(1200) {
      padding: size(42) 0;
    }
    @include min(1600) {
      //   min-width: 300px;
    }
    @include min(1800) {
      padding: size(42) 0;
    }

    &:last-of-type {
      &::before {
        display: none;
      }
    }

    &::before {
      position: absolute;
      right: calc(-1 * var(--item-gap));
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 100%;
      background: rgba(0, 0, 0, 0.15);
      @include min(1200) {
        content: "";
      }
    }

    p {
      color: $black-color;
      // font-family: $secondary-font;
      text-transform: uppercase;
      line-height: 1;
      font-size: 10px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      justify-content: flex-start;
      @include min(768) {
        justify-content: center;
      }
      span {
        display: inline-block;
        margin-right: 6px;
        svg {
          @include max(767.98) {
            max-width: 14px;
          }
        }
      }

      .intro_item_icon {
        display: inline-block;
        width: 20px;
        max-width: 20px;
        margin-right: 6px;
        position: relative;
        @include max(767.98) {
          max-width: 14px;
        }
        > span {
          margin-right: 0;
          width: 100%;
          padding-bottom: calc((20 / 20) * 100%);
          position: relative;
        }
      }
      @include min(992) {
        font-size: 13.5px;
      }
      @include min(1600) {
        font-size: 15px;
      }
    }

    h4 {
      // font-family: $secondary-font;
      font-size: 13px;
      color: $primary-color;
      text-transform: uppercase;
      margin-bottom: 0;
      line-height: 1.3;
      @include min(576) {
        font-size: 14px;
      }
      @include min(992) {
        font-size: size(17.5);
      }
      @include min(1600) {
        font-size: size(20);
      }
    }
  }
}


/* High Contrast */
:global(html:not(#INDdummy) body:not(#INDdummy).INDwhiteblack>:not(#INDWrap)) {
  .mdx_course_intro  {
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
  .intro_item {
    &::before {
      border-right: 1px solid rgba(255, 255, 255, 0.15);
    }
  }
}
:global(html:not(#INDdummy) body:not(#INDdummy).INDblackwhite>:not(#INDWrap) *:not(img):not(video)),:global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors>:not(#INDWrap)),
:global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors>:not(#INDWrap)) {
  .mdx_course_intro {
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
  .intro_item {
    &::before {
      border-right: 1px solid rgba(255, 255, 255, 0.15);
    }
  }
}