@import '../../styles/util';
.gallery_widget {
    padding: 40px 0;
    @include min(992) {
        padding: size(80) 0;
    }
    :global{
        .title{
            font-family: $primary-font;
        }
    }
    
}
.gallery_item {
    &>* {
        pointer-events: none;
    }
}