@import "../../styles/util";
.course_timeline {
  padding: size(50) 0;
  overflow-x: initial;
  @include min(992) {
    padding: 70px 0;
  }
  @include min(1200) {
    padding: size(80) 0;
  }
  h2 {
    // max-width: 1027px;
  }
  &_box {
    margin-top: size(40);
    container-type: inline-size;
    container-name: programmeTab;
  }
  &_tabwrapper {
    display: flex;
    flex-wrap: wrap;
    @include min(992) {
      flex-wrap: nowrap;
    }
    & > * {
      flex-basis: 100%;
      max-width: 100%;
      width: 100%;
    }
    .course_timeline {
      &_tabsview {
        @include min(992) {
          flex: 0 0 353px;
          width: auto;
          &.fill {
            flex-basis: 35%;
            max-width: 35%;
          }
        }
        @include min(1400) {
          flex-basis: 547px;
          &.fill {
            flex-basis: 35%;
            max-width: 35%;
          }
        }
      }
      &_tabresults {
        background-color: var(--tab-background, #292152);
        color: $white-color;
        --black: #{$white-color};
        padding: size(30);
        & > :global(.tab-content) {
          position: sticky;
          top: 114px;
        }
        @include min(992) {
          padding: size(40);
          flex: 1 0;
          width: 100%;
          flex-basis: calc(100% - 353px);
          max-width: calc(100% - 353px);
          &.fill {
            flex-basis: 65%;
            max-width: 65%;
          }
        }
        @include min(1400) {
          padding: size(60);
          flex-basis: calc(100% - 547px);
          max-width: calc(100% - 547px);
          &.fill {
            flex-basis: 65%;
            max-width: 65%;
          }
        }
        &_item {
          opacity: 1;
          a {
            color: $black-color;
            text-underline-offset: 2px;
            font-weight: 400 !important;
            transition: all ease-in-out 0.1s;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  &_mobile {
    margin-top: size(40);
    &_accodion {
      &_item {
        &:first-child {
          border-top: 1px solid $border-color;
        }
        &_header {
          button {
            padding: 30px 0;
            font-weight: bold;
            @include max(1199.98) {
              font-size: 20px;
            }
            &::before {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              border: 2px solid $black-color;
              border-width: 2px 0 0 2px;
              transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
              transform: rotate(45deg) scale(-1) translate(3px, 1px);
              right: 11px;
            }
            &::after {
              display: none;
            }
            &:not(:global(.collapsed)) {
              color: $primary-color;
              &::after {
                content: "";
                display: block;
                width: 100%;
                position: absolute;
                top: -1px;
                transform: none !important;
                left: 0;
                background: $primary-color;
                height: 1px;
              }
              &::before {
                content: "";
                transform: rotate(45deg) scale(1) translate(0, 4px);
                border-color: $primary-color;
              }
            }
          }
        }
        :global(.show) {
          .course_timeline_mobile_accodion_body {
            position: relative;
            &::before {
              content: "";
              display: block;
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              background: $primary-color;
              height: 1px;
            }
          }
        }
      }
      &_body {
        padding: 0;
        :global {
          .table {
            table {
              min-width: 1px;
            }
          }
        }
        & > * {
          &:first-child {
            padding-top: 10px !important;
          }
        }
        @include max(1199.98) {
          // border-top: 1px solid $border-color;
        }
        :global(.accordion-body) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

@container programmeTab (max-width: 1199.98px) {
  .course_timeline {
    &_tabresults {
        padding: size(30) !important;
    }
  }
}
@container programmeTab (max-width: 991.98px) {
    .course_timeline {
      &_tabwrapper {
          flex-wrap: wrap;
          > * {
              flex-basis: 100% !important;
              max-width: 100% !important;
          }
      }
      &_tabresults {
          padding: size(30) !important;
      }
    }
  }
  
