@import '../../styles/util';



@mixin imgwrap($w,$h){
    $val: calc( 10000 / $w * $h);
    $val1: floor($val);
    $val2: calc($val1 / 100);
    position: relative;
    >*{
        position: absolute!important;
        top: 0;
        width: 100%!important;
        height: 100%!important;
    }
    img{
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        left: 0;
    }
    &:before{
        content: "";
        position: relative;
        display: block;
        width: 100%;
        padding-bottom: ($val2 * 1%);
        pointer-events: none;
    }
}

.staff_profile{
    background-color: #000;
    display: flex;
    &_image{
        width: 100%;
        
        background-color: var(--grey);
        @include imgwrap(576,603);
        @include min(1500){
            max-width: 576px;
        }
    }
    &_details{
        width: 100%;
        
        color: white;
        // margin: auto 0;
        @include min(1500){
            max-width: calc(100% - 576px);
            padding: 115px 90px 50px;
        }
        &_name{
            text-transform: uppercase;
            font-weight: 800;
            @include min(992) {
                margin-bottom: 21px;
            }
            @include min(1500){
                font-size: size(45);
            }
        }
    }
    &_list{
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
        max-width: 1047px;
        &_item{
            width: 100%;
            display: block;
            border-bottom: 1px solid #FFFFFF;
            
            font-weight: 700;
            @include min(1500){
                padding: 26px 0;
                font-size: size(20);
            }
            &:nth-last-child(1){
                border-bottom: none;
                padding-bottom: 0px;
            }
            
        }
        &_label{
            display: block;
        }
        &_value{
            display: block;
            line-height: 1.2;
            a{
                color: currentColor;
                transition: color 0.3s ease-in-out;
                text-decoration: none!important;
                &:hover{
                    color: $yellow-color;
                }
            }
        }
    }
    @include min-max(1350,1499.9){
        &_image{
            max-width: 450px;
        }
        &_details{
            max-width: calc(100% - 450px);
            padding: 45px 45px;
            &_name{
                font-size: size(35);
            }
        }
        &_list{
            &_item{
                padding: 15px 0;
                font-size: size(19);
            }
        }
    }
    @include min-max(1200,1349.9){
        &_image{
            max-width: 350px;
        }
        &_details{
            max-width: calc(100% - 350px);
            padding: 35px 35px;
            &_name{
                font-size: size(35);
            }
        }
        &_list{
            &_item{
                padding: 15px 0;
                font-size: size(19);
            }
        }
    }
    @include min-max(992,1199.9){
        &_image{
            max-width: 400px;
        }
        &_details{
            max-width: calc(100% - 400px);
            padding: 45px 45px;
            &_name{
                font-size: size(35);
            }
        }
        &_list{
            &_item{
                padding: 15px 0;
                font-size: size(19);
            }
        }
    }
    @include min-max(768,991.9){
        &_image{
            max-width: 300px;
        }
        &_details{
            max-width: calc(100% - 300px);
            padding: 25px 30px;
            &_name{
                font-size: size(30);
            }
        }
        &_list{
            &_item{
                padding: 15px 0;
                font-size: size(19);
            }
        }
    }
    
    @include min-max(576,767.9){
        &_image{
            max-width: 280px;
        }
        &_details{
            max-width: calc(100% - 280px);
            padding: 25px 25px;
            &_name{
                font-size: size(25);
            }
        }
        &_list{
            &_item{
                padding: 10px 0;
                font-size: size(17);
            }
        }
    }
    @include max(575.9){
        flex-wrap: wrap;
        &_image{
            max-width: 100%;
        }
        &_details{
            max-width: 100%;
            padding: 40px 16px;
            &_name{
                font-size: size(32);
            }
        }
        &_list{
            &_item{
                padding: 26px 0;
                font-size: size(20);
            }
        }
    }
}


    
    
