@import "../../../styles/util";


@include randomColor('.program_item');

.program_item {
    height: 100%;
    flex-wrap: wrap;
    @include min(992) {
        display: flex;
    }

    &:nth-of-type(2) {
        background-color: $pink-color;
    }

    &:nth-of-type(1) {
        background-color: $black-color;
    }

    &:nth-of-type(odd) {
        flex-direction: row-reverse;
    }

    &_content,
    &_cover {
        flex: 0 0 auto;
        width: 100%;

        @include min(992) {
            width: 50%;
        }
    }

    &_content {
        color: $white-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 18px 80px;

        @include min(992) {
            padding: size(60);
        }

        h3 {
            font-weight: bold;
            font-size: 20px;
            line-height: 1.1;
            margin-bottom: size(20);

            @include min(992) {
                line-height: 1.1;
                font-size: size(28);
                margin-bottom: size(30);
            }
        }

        p {
            font-size: 16px;
            line-height: 24px;

            @include min(992) {
                font-size: size(16);
                line-height: size(24);
            }
        }
    }

    &_cover {
        .img_wrap {
            @include aspectRatio(745, 450);
            min-height: 100%;
        }
    }
}

:global(html:not(#INDdummy) body:not(#INDdummy).INDwhiteblack>:not(#INDWrap) *:not(img):not(video)),:global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors>:not(#INDWrap)),
:global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors>:not(#INDWrap)) {
    @include randomColor('.program_item');
  }
  
  /* High Contrast */
  :global(html:not(#INDdummy) body:not(#INDdummy).INDwhiteblack>:not(#INDWrap)),:global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors>:not(#INDWrap)),
  :global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors>:not(#INDWrap)) {
    @include randomColor('.program_item');
  }