@import "../../styles/util";
@import "../../styles/colors";

.add_calender {
  position: relative;
  button {
    text-align: left;
  }
}
.events_details_container{
  @include min(1300){
    max-width: 1230px;
  }
}

.back_btn_wrap{
  button{
    font-size: size(16);
    font-weight: 700;
    text-decoration: none;
    svg{
      margin-right: 5px;
      margin-top: -2px;
    }
  }
}
.main_sec_bottom,
.main_sec_header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0 24px 0;
}
.main_sec_bottom{
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-bottom: 40px;
}


.socialmedia_links{
  &_wrap{
    display: flex;
    width: auto;
    // padding-right: 30px;
  }
  &_item{
    margin-left: 15px;
    color: currentColor;
  }

}
.related_events_title{
  font-size: size(26);
  font-weight: 700;
}
.related_events_load_more{
  color: $primary-color;
  font-weight: 500;
  &:hover{
    color: #C2010C;
  }
}

.events_detail{
  &_wrap{

  }
  &_main{
    padding-bottom: size(50);
 
     
  }
  &_right_side{
    
  }
  &_right_events{
    position: sticky;
    top: 125px;
    margin-bottom: 20px;
  }
}