@import "../../../../styles/util";
@import "../../../../styles/colors";

.sidebar {
  color: $white-color;
  background: $secondary-color;
  /* Note: currently only Safari supports backdrop-filter */
  /*  backdrop-filter: blur(23.734500885009766px);
  --webkit-backdrop-filter: blur(23.734500885009766px);
  background-color: rgb(47 37 92 / 32%); */
  height: 100vh !important;

  &_canvas_header {
    padding: size(33) 0;
    border-bottom: 2px solid #40366d;

    &_view {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
      }
    }
  }
}

.nav_menu_row {
  display: flex;
  flex-wrap: wrap;

  & > * {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 200px);

    @include min(1600) {
      max-height: calc(100vh - 240px);
    }
  }
}

.nav_main_menu {
  @include min(1200) {
    flex-basis: 39%;
    max-width: 39%;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      // font-family: $secondary-font;
      font-weight: bold;

      -webkit-transform: translate(-30px, -30px);
      transform: translate(-30px, -30px);

      opacity: 0;
      -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);

      &:nth-child(1) {
        -webkit-transition-delay: 0.49s;
        transition-delay: 0.49s;
      }

      &:nth-child(2) {
        -webkit-transition-delay: 0.42s;
        transition-delay: 0.42s;
      }

      &:nth-child(3) {
        -webkit-transition-delay: 0.35s;
        transition-delay: 0.35s;
      }

      &:nth-child(4) {
        -webkit-transition-delay: 0.28s;
        transition-delay: 0.28s;
      }

      &:nth-child(5) {
        -webkit-transition-delay: 0.21s;
        transition-delay: 0.21s;
      }

      &:nth-child(6) {
        -webkit-transition-delay: 0.14s;
        transition-delay: 0.14s;
      }

      &:nth-child(7) {
        -webkit-transition-delay: 0.07s;
        transition-delay: 0.07s;
      }

      @include min(1200) {
        font-size: size(27);
      }

      @include min(1400) {
        font-size: size(30);
      }

      @include min(1600) {
        font-size: size(36);
      }

      & + li {
        margin-top: size(35);

        @include min(1600) {
          margin-top: size(35);
        }
      }

      a {
        color: $secondary-light-color;
        text-decoration: none;
        padding-left: 0;
        position: relative;
        transition: color cubic-bezier(0.32, 0.94, 0.6, 1) 0.3s,
          padding-left cubic-bezier(0.32, 0.94, 0.6, 1) 0.3s;

        span {
          font-family: $primary-font;
          font-weight: 500;
          font-size: size(20);
          position: absolute;
          left: 0;
          opacity: 0;
          top: 4px;
          transform: translateX(-5px);
          display: block;
          transition-duration: 0.3s;
          transition-timing-function: cubic-bezier(0.32, 0.94, 0.6, 1);
          transition-property: transform, opacity;
          display: none;
        }
      }

      &:hover,
      &.active {
        a {
          color: $white-color;
          padding-left: size(15);

          @include min(1600) {
            padding-left: size(20);
          }

          span {
            transform: translateX(0);
            opacity: 1;
          }
        }
      }
    }
  }
}

.nav_sub_menu {
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);

  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;

  @include min(1200) {
    flex-basis: 61%;
    max-width: 61%;
    padding-left: size(50);
  }

  &_split {
    display: flex;
    flex-wrap: wrap;

    @include min(992) {
      padding-right: 25px;
    }
  }

  ul {
    width: 50%;
    display: inline-block;
    padding-left: 0;

    & + ul {
      padding-left: size(30);
    }

    & > li {
      list-style: none;
      margin-bottom: size(15);
      font-size: size(20);

      @include min(1600) {
        font-size: size(21);
      }

      &:global(.active) {
        & > a {
          color: $primary-color !important;
        }
      }

      & > a {
        display: block;
        padding: size(25) 0;
        color: $white-color;
        text-decoration: none;
        font-weight: bold;
        border-bottom: 1px solid $secondary-light-color;
        line-height: 1.2;
      }
    }
  }

  &_acc {
    position: relative;

    &_item {
      position: relative;
      box-shadow: inset 0px -1px 0px 0px $secondary-light-color;
    }

    &_header {
      position: relative;

      button {
        font-weight: bold;
        padding: size(25) 0 !important;
        font-size: 16px;

        @include max(1199.98) {
          padding: size(25) 10px !important;
          font-weight: 400 !important;
        }

        @include min(1600) {
          font-size: size(23);
        }

        &::after {
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 9px 6.5px 0 6.5px;
          border-color: $white-color transparent transparent transparent;
        }
      }

      button,
      button:not(.collapsed) {
        color: $white-color;
      }
    }

    &_body {
      position: relative;
      padding: 0 0 size(13);

      ul {
        padding-left: 0;
        list-style: none;
        width: 100%;

        li {
          padding-left: 0;

          margin-bottom: 0;
          font-size: 15px;

          @include min(1600) {
            font-size: size(17);
          }

          a {
            border: none;
            padding: size(13) 0;

            &:hover,
            &:global(.active),
            &.active {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.payment_btn {
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  --btn-bg-color: transparent;
  --btn-border-color: var(--white);
  --btn-text-color: var(--white);

  background-color: var(--btn-bg-color) !important;
  border-color: var(--btn-border-color) !important;
  color: var(--btn-text-color) !important;
  border-radius: 10rem !important;
  &:hover {
    @include min(1200) {
      --btn-bg-color: var(--primary);
      --btn-border-color: var(--primary);
      --btn-text-color: var(--white);
    }
  }

  @include min(1200) {
    min-width: 110px;
    font-size: size(17);
    line-height: 1.2;
  }
  @include min(1400) {
    min-width: 125px;
    font-size: size(15.5);
    line-height: 1.35;
  }
  @include min(1600) {
    font-size: size(17.5);
    padding-left: size(20);
    padding-right: size(20);
    // min-width: 164px;
  }

  &:focus {
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
    color: var(--btn-text-color);
  }
  &_device {
    min-width: 1px;
    padding: 8px 9px;
    font-size: 15px;
    --btn-bg-color: "transparent";
    --btn-border-color: var(--primary);
    --btn-text-color: var(--primary);
    @include min(768) {
      padding: 8px 16px;
      font-size: 17px;
    }
  }
}
a {
  &:last-of-type {
    .payment_btn {
      --btn-bg-color: var(--primary);
      --btn-border-color: var(--primary);
      --btn-text-color: var(--white);
      &:hover {
        @include min(1200) {
          --btn-bg-color: transparent;
          --btn-border-color: var(--white);
          --btn-text-color: var(--white);
        }
      }
    }
    .payment_btn_device {
      --btn-bg-color: "transparent";
      --btn-border-color: var(--black);
      --btn-text-color: var(--black);
    }
  }
}

.nav_offcanvas {
  position: fixed;
  width: 100%;
  height: calc(100% - 70px);
  background-color: $secondary-color;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transform: translateY(-100%);
  z-index: 999;
  padding: size(20) 0 size(30);
  overflow: auto;

  @include min(992) {
    height: calc(100% - 80px);
  }

  @include min(1200) {
    padding: size(40) 0;
    overflow: hidden;
  }

  @include min(1600) {
    height: calc(100% - 110px);
  }

  div {
    @media (min-width: 1200px) {
      ::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: rgb(0 0 0 / 12%);
      }
    }

    @media (min-width: 1200px) {
      ::-webkit-scrollbar-track {
        background: rgb(213 213 213 / 11%);
        border-radius: 0px;
      }
    }
  }
  &_quick {
    padding: 15px 0 0;

    position: static;
    bottom: -26px;
    left: 0;
    width: 100%;
    z-index: 1;
    top: auto;
    @include min(1200) {
      background-color: $white-color;
      border-top: 1px solid #d9d9d9;
      padding: 24px 0;
      bottom: 0;
      position: fixed;
    }
    &_label {
      font-weight: 500;
      color: #a3a3a3;
      font-size: size(17);
      padding: 5px 0;
      margin-right: size(25);
      @include min(768) {
        font-size: size(19);
      }
    }
    &_arrow {
      margin-left: 11px;
    }
    ul {
      margin-left: size(-19);
      margin-right: size(-19);
      > li {
        list-style: none;
        padding: 2px size(5);
        font-weight: 500;
        font-size: size(17);
        @include min(768) {
          font-size: size(19);
        }
        > a {
          padding: 5px size(14);
          color: $black-color;
          text-decoration: none;
          position: relative;
          &::before {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            background-color: $black-color;
            position: absolute;
            bottom: 0;
            left: size(14);
            // transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
          }
          &:hover {
            @include min(1200) {
              &::before {
                animation: hoverQuick .6s forwards;
              }
            }
          }
        }
      }
    }
  }

  &_show {
    transform: translateY(0%);

    .header_mobile_nav {
      transform: translateY(0px);
      opacity: 1;
    }

    &_menus {
      .nav_main_menu {
        ul {
          li {
            -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
            opacity: 1;

            @include min(1200) {
              line-height: 1.35;
              width: max-content;
            }
          }
        }
      }

      .nav_sub_menu {
        opacity: 1;
      }
    }
  }
}

.header {
  :global(.navbar-brand) {
    width: 104px;
    display: block;
    // outline: none !important;

    @include min(992) {
      width: size(130);
    }

    @include min(1400) {
      width: size(160);
    }
  }

  .navbar {
    background-color: $secondary-color;
    transition: 0.3s all;
    z-index: 1000;

    @include min(1200) {
      padding-top: 0.85rem;
      padding-bottom: 0.85rem;
    }

    @include min(1600) {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  :global {
    .navbar-light .navbar-nav .nav-link {
      color: $white-color;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.02em;

      &:global(.active),
      &.active {
        pointer-events: none;
      }

      &:hover,
      &:global(.active),
      &.active {
        color: $primary-color;
      }

      @include min(992) {
        font-size: size(20);
      }
    }

    .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: size(15);
      padding-left: size(15);
    }
  }

  .logo {
    transition: 0.3s all;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &_dark {
      transition: 0.3s all;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &_scrolled {
    .navbar {
      background-color: $white-color;
    }

    .nav_offcanvas {
      background-color: $white-color;
    }

    .logo {
      opacity: 0;

      &_dark {
        opacity: 1;
      }
    }

    :global {
      .navbar-light .navbar-nav .nav-link {
        color: $black-color;
      }

      .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: size(15);
        padding-left: size(15);
      }
    }

    .payment_btn {
      --btn-bg-color: transparent;
      --btn-border-color: var(--black);
      --btn-text-color: var(--black);

      --btn-bg-hover-color: var(--primary);
      --btn-border-hover-color: var(--primary);
      --btn-text-hover-color: var(--white);

      &:hover {
        @include min(1200) {
          --btn-bg-color: var(--btn-bg-hover-color);
          --btn-border-color: var(--btn-border-hover-color);
          --btn-text-color: var(--btn-text-hover-color);
        }
      }

      &:focus {
        border-color: $black-color;
        color: $black-color;
      }
    }
    a {
      &:last-of-type {
        .payment_btn {
          &:hover {
            @include min(1200) {
              --btn-border-color: var(--black);
              --btn-text-color: var(--black);
            }
          }
        }
      }
    }

    .hamburger {
      span {
        background: $black-color;
      }
    }
  }

  @include max(1199.98) {
    .navbar {
      background-color: $white-color;
    }

    .nav_offcanvas {
      background-color: $white-color;
    }

    .logo {
      opacity: 0;

      &_dark {
        opacity: 1;
      }
    }

    :global {
      .navbar-light .navbar-nav .nav-link {
        color: $black-color;
      }

      .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: size(15);
        padding-left: size(15);
      }
    }

    .hamburger {
      span {
        background: $black-color;
      }
    }
  }
}
:global(.show-menu) {
  .navbar {
    background-color: $white-color;
  }

  .nav_offcanvas {
    background-color: $white-color;
  }

  .logo {
    opacity: 0;

    &_dark {
      opacity: 1;
    }
  }

  .header {
    :global(.navbar-light .navbar-nav .nav-link) {
      color: $black-color;
    }

    :global(.navbar-expand-xl .navbar-nav .nav-link) {
      padding-right: size(15);
      padding-left: size(15);
    }
  }

  .payment_btn {
    --btn-bg-color: transparent;
    --btn-border-color: var(--black);
    --btn-text-color: var(--black);

    --btn-bg-hover-color: var(--primary);
    --btn-border-hover-color: var(--primary);
    --btn-text-hover-color: var(--white);

    &:hover {
      @include min(1200) {
        --btn-bg-color: var(--btn-bg-hover-color);
        --btn-border-color: var(--btn-border-hover-color);
        --btn-text-color: var(--btn-text-hover-color);
      }
    }

    &:focus {
      border-color: $black-color;
      color: $black-color;
    }
  }
  a {
    &:last-of-type {
      .payment_btn {
        &:hover {
          @include min(1200) {
            --btn-border-color: var(--black);
            --btn-text-color: var(--black);
          }
        }
      }
    }
  }

  .hamburger {
    span {
      background: $black-color;
    }
  }
  .header {
    :global(.header-nav) {
      box-shadow: 0px 3px 8px rgb(0 0 0 / 13%);
    }

    .nav_main_menu {
      ul {
        li {
          a {
            color: $grey-color;
          }

          &:hover,
          &.active {
            a {
              color: $black-color;
            }
          }
        }
      }
    }

    .nav_sub_menu {
      ul {
        & > li {
          & > a {
            color: $black-color;
            border-bottom-color: $black-color;
          }
        }
      }

      &_acc {
        &_header {
          button {
            &::after {
              border-top-color: $black-color;
            }

            &:not(.collapsed) {
              color: $black-color;
            }
          }
        }

        &_item {
          box-shadow: inset 0px -1px 0px 0px $black-color;
        }
      }
    }

    .header_mobile_nav {
      &_main {
        li {
          color: $black-color;

          a {
            color: $black-color;
          }

          &.active,
          &:global(.active) {
            a {
              color: $primary-color;
              pointer-events: none;
            }
          }
        }
      }

      &_acc {
        box-shadow: inset 0px -1px 0px 0px $black-color;

        &_header {
          button {
            &::before,
            &::after {
              background-color: $black-color;
            }
          }

          button,
          button:not(:global(.collapsed)) {
            color: $black-color !important;
          }
        }

        &_body {
          > ul {
            border-top: 1px solid $secondary-light-color;

            li {
              a {
                color: $black-color;
                border-bottom: 1px solid $secondary-light-color;
              }
            }
          }

          .nav_sub_menu {
            &_acc {
              &_header {
                button {
                  color: $black-color;

                  &:not(:global(.collapsed)) {
                    color: $black-color;
                  }
                }
              }

              &_body {
                ul {
                  li {
                    a {
                      border: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.nav_logo {
  width: 161px;
  max-width: 100%;
  display: block;
}

.hamburger {
  background-color: transparent;
  border: none;
  // outline: none;
  // margin-left: 10px;
  padding: 0;
  -webkit-transform: rotate(0deg);

  width: 26px;
  height: 30px;
  // padding-left: 14px;

  div {
    transform: rotate(0deg);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }

  @include min(992) {
    width: size(56);
    height: size(56);
  }
  @include min(1200) {
    margin-left: 20px;
  }

  @include min(1400) {
    margin-left: 20px;
  }

  span {
    width: 24px;
    height: 2px;
    background: $white-color;
    display: block;

    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    max-width: 100%;

    &:first-of-type {
      -webkit-transform: translateY(-3px) rotate(0deg);
      transform: translateY(-3px) rotate(0deg);
    }

    &:last-of-type {
      -webkit-transform: translateY(5px) rotate(0deg);
      transform: translateY(5px) rotate(0deg);
    }

    @include min(992) {
      width: size(56);
      height: size(4);
    }
  }

  &.opened {
    div {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    span {
      -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;

      &:first-of-type {
        -webkit-transform: translateY(1px) rotate(45deg);
        transform: translateY(1px) rotate(45deg);

        @include min(992) {
          -webkit-transform: translateY(2px) rotate(45deg);
          transform: translateY(2px) rotate(45deg);
        }
      }

      &:last-of-type {
        -webkit-transform: translateY(-1px) rotate(-45deg);
        transform: translateY(-1px) rotate(-45deg);

        @include min(992) {
          -webkit-transform: translateY(-2px) rotate(-45deg);
          transform: translateY(-2px) rotate(-45deg);
        }
      }
    }
  }
}

.logo_wrap {
  padding-top: calc((64 / 160) * 100%);
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }
}

.language_switch {
  :global(.nav-link) {
    &::after {
      display: none;
    }

    svg {
      @include max(991.98) {
        max-width: 18px;
      }
    }

    span {
      display: inline-block;
      padding-left: 7px;
      text-decoration: underline;
    }
  }
}

/* Mobile Nav */
.header_mobile_nav {
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 0.3s linear, opacity 0.3s linear;
  transition-delay: 0.2s;
  &_main {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    li {
      border-bottom: 1px solid $secondary-light-color;
      display: flex;
      align-items: center;
      color: $white-color;
      position: relative;

      a {
        padding: size(28) 0;
        padding-right: 25px;
        display: block;
        font-size: 22px;
        font-weight: bold;
        color: $white-color;
        text-decoration: none;
        width: 100%;
      }
      span {
        position: absolute;
        display: flex;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }

  &_acc {
    box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.5);

    &_header {
      button,
      button:not(:global(.collapsed)) {
        color: $white-color !important;
      }

      button {
        font-size: 17px;
        font-weight: 500 !important;
      }
    }

    &_body {
      padding: 0 !important;

      > ul {
        padding-left: 0;
        list-style: none;
        border-top: 1px solid $secondary-light-color;
        margin: 0;

        li {
          font-size: 16px;
          font-weight: bold;

          a {
            color: $white-color;
            text-decoration: none;
            padding: size(30) 10px;
            display: block;
            border-bottom: 1px solid $secondary-light-color;
            font-weight: 400;
          }

          &:last-of-type {
            a {
              border-bottom-color: transparent;
            }
          }
        }
      }

      .nav_sub_menu {
        &_acc {
          &_header {
            button {
              color: $white-color;
              font-size: 16px;

              &::after {
                width: 0;
                height: 0;
                background: transparent;
                transform: rotate(0deg) scale(1) translateY(-6px);
              }

              &:not(:global(.collapsed)) {
                color: $white-color;

                &::after {
                  transform: rotate(0deg) scale(-1) translateY(6px);
                }
              }

              &::before {
                display: none;
              }
            }
          }

          &_body {
            ul {
              padding-left: size(30);

              li {
                a {
                  border: none;
                  padding: size(5) 0;
                }

                & + li {
                  margin-top: size(20);
                }
              }
            }
          }
        }
      }
    }
  }
}
:global(.show-menu) {
  .main_desktop_menu {
    visibility: hidden;
    opacity: 0;
  }
  .btn_search {
    visibility: hidden;
    opacity: 0;
    transition: all linear 0s;
  }
}
// :global(.show-menu) {
.header_scrolled {
  :global(.header-nav) {
    box-shadow: 0px 3px 8px rgb(0 0 0 / 13%);
  }

  .nav_main_menu {
    ul {
      li {
        a {
          color: $grey-color;
        }

        &:hover,
        &.active {
          a {
            color: $black-color;
          }
        }
      }
    }
  }

  .nav_sub_menu {
    ul {
      & > li {
        & > a {
          color: $black-color;
          border-bottom-color: $black-color;
        }
      }
    }

    &_acc {
      &_header {
        button {
          &::after {
            border-top-color: $black-color;
          }

          &:not(.collapsed) {
            color: $black-color;
          }
        }
      }

      &_item {
        box-shadow: inset 0px -1px 0px 0px $black-color;
      }
    }
  }

  .header_mobile_nav {
    &_main {
      li {
        color: $black-color;

        a {
          color: $black-color;
        }

        &.active,
        &:global(.active) {
          a {
            color: $primary-color;
            pointer-events: none;
          }
        }
      }
    }

    &_acc {
      box-shadow: inset 0px -1px 0px 0px $black-color;

      &_header {
        button {
          &::before,
          &::after {
            background-color: $black-color;
          }
        }

        button,
        button:not(:global(.collapsed)) {
          color: $black-color !important;
        }
      }

      &_body {
        > ul {
          border-top: 1px solid $secondary-light-color;

          li {
            a {
              color: $black-color;
              border-bottom: 1px solid $secondary-light-color;
            }
          }
        }

        .nav_sub_menu {
          &_acc {
            &_header {
              button {
                color: $black-color;

                &:not(:global(.collapsed)) {
                  color: $black-color;
                }
              }
            }

            &_body {
              ul {
                li {
                  a {
                    border: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include max(1199.98) {
  .navbar {
    box-shadow: 0px 3px 8px rgb(0 0 0 / 13%);
  }

  .nav_main_menu {
    ul {
      li {
        a {
          color: $grey-color;
        }

        &:hover,
        &.active {
          a {
            color: $black-color;
          }
        }
      }
    }
  }

  .nav_sub_menu {
    ul {
      & > li {
        & > a {
          color: $black-color;
          border-bottom-color: $black-color;
        }
      }
    }

    &_acc {
      &_header {
        button {
          &::after {
            border-top-color: $black-color;
          }

          &:not(.collapsed) {
            color: $black-color;
          }
        }
      }

      &_item {
        box-shadow: inset 0px -1px 0px 0px $black-color;
      }
    }
  }

  .header_mobile_nav {
    &_main {
      li {
        color: $black-color;

        a {
          color: $black-color;
        }
      }
    }

    &_acc {
      // box-shadow: inset 0px -1px 0px 0px $black-color;

      &_header {
        button {
          &::before,
          &::after {
            background-color: $black-color !important;
          }
        }

        button,
        button:not(:global(.collapsed)) {
          color: $black-color !important;
        }
      }

      &_body {
        > ul {
          border-top: 1px solid $secondary-light-color;

          li {
            a {
              color: $black-color;
              border-bottom: 1px solid $secondary-light-color;
            }
            &.view_more {
              & > a {
                font-weight: bold;
              }
            }
          }
        }

        .nav_sub_menu {
          &_acc {
            &_header {
              button {
                color: $black-color;

                &:not(:global(.collapsed)) {
                  color: $black-color;
                }
              }
            }

            &_body {
              ul {
                li {
                  a {
                    border: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// }
header {
  .dropdown {
    border: none;

    :global {
      .dropdown-menu {
        border: none;
        border-radius: 0 0 14px 14px;
        background: $secondary-color;
        transform: translateY(5px);
      }

      .dropdown-item {
        border: 0;
        font-size: 1rem;
        padding: 8px 15px;
        color: $white-color;
        background: none;
        font-weight: 500;

        &:hover,
        &:focus {
          color: $primary-color;
        }
      }
    }
  }

  &.header_scrolled {
    .dropdown {
      :global {
        .dropdown-menu {
          background: $white-color;
        }

        .dropdown-item {
          color: #000;

          &:hover,
          &:focus {
            color: $primary-color;
          }
        }
      }
    }
  }
}

@include min(1200) {
  :global(.show-menu) {
    .main_desktop_menu {
      visibility: hidden;
    }
  }
  .header {
    .main_desktop_menu {
      & > ul {
        & > li {
          & > a {
            &::before {
              content: "";
              display: block;
              width: 100%;
              height: 2px;
              background-color: $primary-color;
              position: absolute;
              bottom: -26px;
              left: 0;
              opacity: 0;
              pointer-events: none;
              z-index: 1;
              @include min(1600) {
                bottom: size(-38);
              }
            }
          }
        }
      }
      ul {
        margin: 0;
        padding: 0;
        position: relative;
        > li {
          display: inline-block;
          // position: relative;
          padding: 1px;
          &.active,
          &:global(.active) {
            & > a {
              color: $primary-color !important;
            }
          }
          & > a {
            position: relative;
          }
          &.right_aligned {
            .mega_menu {
              right: 0;
              &_sub {
                padding-left: 10px;
                padding-right: 50px;
              }
              &_row {
                flex-direction: row-reverse;
              }
              &_main {
                padding-right: 10px;
              }
            }
          }
          ul {
            position: absolute;
            visibility: hidden;
          }
          .mega_menu {
            position: absolute;
            padding-top: 26px;
            opacity: 0;
            pointer-events: none;
            transform: translateY(-5px);
            transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s;

            width: 100%;
            left: 0;
            @include min(1600) {
              padding-top: 36px;
            }
            &_row {
              display: flex;
              background-color: $secondary-color;
              // padding: size(20) size(40) size(40);
              // min-width: 610px;
              border-top: 2px solid #423776;

              position: relative;

              &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                height: size(40);
                width: 100%;
                background: rgb(51, 41, 95);
                background: linear-gradient(
                  360deg,
                  rgba(51, 41, 95, 1) 0%,
                  rgba(51, 41, 95, 0) 100%
                );
                z-index: 1;

                pointer-events: none;
              }

              &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: size(40);
                width: 100%;
                background: rgb(51, 41, 95);
                background: linear-gradient(
                  180deg,
                  rgba(51, 41, 95, 1) 0%,
                  rgba(51, 41, 95, 0) 100%
                );
                z-index: 1;

                pointer-events: none;
              }
              & > * {
                max-height: 70vh;
                overflow-x: hidden;
                overflow-y: auto;
              }
            }
            ul {
              visibility: visible;
              position: relative;
              li {
                // white-space: nowrap;
                width: 100%;
                a {
                  padding: size(15) 0;
                }
              }
            }
            &_main {
              display: block;
              flex-basis: 280px;
              max-width: 280px;
              width: 100%;
              padding-right: 10px;

              padding: size(20) size(12) size(40) size(40);
              /* direction: rtl;
              &>* {
                direction: ltr;
              } */
              @include min(1600) {
                flex-basis: 350px;
                max-width: 350px;
              }
              // &::-webkit-scrollbar {
              //   display: none;
              //   -ms-overflow-style: none; /* IE and Edge */
              //   scrollbar-width: none;
              // }
              @include min(1200) {
                &::-webkit-scrollbar {
                  width: size(11);
                }
                &::-webkit-scrollbar-thumb {
                  border-radius: 0px;
                  width: size(11);
                  background: rgb(213 213 213 / 50%);
                }
                &::-webkit-scrollbar-track {
                  width: size(11);
                  border-radius: 0px;
                  background-color: rgb(39 29 85 / 100%);
                }
                /* Up */
                &::-webkit-scrollbar-button {
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: 10px;
                  height: 20px;
                  filter: brightness(1);
                  background-color: rgb(39 29 85 / 100%);
                }
                &::-webkit-scrollbar-button:vertical:decrement {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='12' viewBox='0 0 15 12'%3E%3Cpath id='Polygon_1' data-name='Polygon 1' d='M6.652 1.357a1 1 0 0 1 1.7 0l5.7 9.113A1 1 0 0 1 13.2 12H1.8a1 1 0 0 1-.848-1.53Z' fill='%23fff'/%3E%3C/svg%3E");
                }
                &::-webkit-scrollbar-button:vertical:increment {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='12' viewBox='0 0 15 12'%3E%3Cpath id='Polygon_1' data-name='Polygon 1' d='M6.652 1.357a1 1 0 0 1 1.7 0l5.7 9.113A1 1 0 0 1 13.2 12H1.8a1 1 0 0 1-.848-1.53Z' transform='translate(15 12) rotate(180)' fill='%23fff'/%3E%3C/svg%3E");
                }
              }
              & > li {
                &.active,
                &:global(.active) {
                  & > a {
                    color: $primary-color;
                    &::before {
                      border-color: $primary-color !important;
                    }
                  }
                }
                &.parent {
                  & > a {
                    &::before {
                      content: "";
                      display: block;
                      width: 7px;
                      height: 7px;
                      border: 1px solid $white-color;
                      border-width: 1px 1px 0 0;
                      position: absolute;
                      top: 50%;
                      transform: translate(0px, -50%) rotate(45deg);
                      right: 3px;
                      opacity: 1;
                      transition: all ease-in-out 0.2s;
                    }
                  }
                }
                & > a {
                  padding: size(12) 0 !important;
                  padding-right: size(25) !important;
                  line-height: 1.5;
                  font-size: size(17);
                  font-weight: bold;
                  &:hover {
                    color: $primary-color;
                    &::before {
                      opacity: 1;
                      transform: translate(0px, -50%) rotate(45deg);
                      border-color: $primary-color;
                    }
                  }
                }
                &.active {
                  & > a {
                    &::before {
                      // opacity: 1;
                      transform: translate(0px, -50%) rotate(45deg);
                    }
                  }
                }
              }
            }
            &_sub {
              display: block;
              flex-basis: calc(100% - 280px);
              max-width: calc(100% - 280px);
              @include min(1600) {
                flex-basis: calc(100% - 350px);
                max-width: calc(100% - 350px);
              }
              width: 100%;
              padding: size(20) size(40) size(40) size(20);
              // background-color: #33295f;
              /* direction: rtl;
              &>* {
                direction: ltr;
              } */
              @include min(1200) {
                &::-webkit-scrollbar {
                  width: size(11);
                }
                &::-webkit-scrollbar-thumb {
                  border-radius: 0px;
                  width: size(11);
                  background: rgb(213 213 213 / 50%);
                }
                &::-webkit-scrollbar-track {
                  width: size(11);
                  border-radius: 0px;
                  background-color: rgb(39 29 85 / 100%);
                }
                /* Up */
                &::-webkit-scrollbar-button {
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: 10px;
                  height: 20px;
                  filter: brightness(1);
                  background-color: rgb(39 29 85 / 100%);
                }
                &::-webkit-scrollbar-button:vertical:decrement {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='12' viewBox='0 0 15 12'%3E%3Cpath id='Polygon_1' data-name='Polygon 1' d='M6.652 1.357a1 1 0 0 1 1.7 0l5.7 9.113A1 1 0 0 1 13.2 12H1.8a1 1 0 0 1-.848-1.53Z' fill='%23fff'/%3E%3C/svg%3E");
                }
                &::-webkit-scrollbar-button:vertical:increment {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='12' viewBox='0 0 15 12'%3E%3Cpath id='Polygon_1' data-name='Polygon 1' d='M6.652 1.357a1 1 0 0 1 1.7 0l5.7 9.113A1 1 0 0 1 13.2 12H1.8a1 1 0 0 1-.848-1.53Z' transform='translate(15 12) rotate(180)' fill='%23fff'/%3E%3C/svg%3E");
                }
              }
              & > ul {
                display: block;
                background-color: transparent;
                li {
                  display: block;
                  & + li {
                    margin-top: 10px;
                  }
                  a {
                    font-weight: 400;
                    color: $white-color;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
                    font-size: size(16);
                    line-height: 1.2;
                    &:hover {
                      border-color: $white-color;
                    }
                  }
                  &.active {
                    & > a {
                      border-color: $white-color;
                    }
                  }
                }
              }
            }
          }
          &:hover {
            & > a {
              &::before {
                opacity: 1;
              }
            }
            .mega_menu {
              opacity: 1;
              pointer-events: all;
              transform: translateY(0px);
            }
          }

          &.submenu {
            li {
              display: block;
            }

            a {
            }
          }

          &.submenu i {
            position: absolute;
            width: 37px;
            height: 33px;
            top: 50%;
            transform: translateY(-50%);
            right: -5px;
            cursor: pointer;
            transition: all ease 0.5s;

            @include max(1350) {
              right: -10px;
            }
          }

          &.submenu i:after {
            content: "";
            height: 0;
            width: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid $primary-color;
            position: absolute;

            right: 12px;
            top: 14px;

            z-index: 10;
          }

          &:last-child {
            margin: 0;

            ul {
              // left: auto;
              // right: 0;
            }
          }

          > a {
            display: block;
            padding: 0.5rem 0.4rem;
            text-decoration: none;
            position: relative;
            color: $white-color;
            font-weight: 500 !important;
            font-size: 12px;
            @include min(1200) {
              &:has(span:hover) {
                position: relative;
                color: $primary-color;
              }
              span {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: calc(100% + 36px);
                top: 0;
                left: 0;
                z-index: 1;
                background-color: transparent !important;
              }
            }
            @include min(1400) {
              padding: 0.5rem 0.5rem;
              font-size: 14px;
              letter-spacing: 0.02em;
            }
            &:global(.active),
            &.active {
              pointer-events: none;
            }

            &:hover,
            &:global(.active),
            &.active {
              color: $primary-color;
              font-weight: 500 !important;
            }

            @include min(1600) {
              font-size: size(17);
            }
          }

          &:hover {
            > a {
              transition: 0.5s all ease;
            }
          }
        }
      }
    }

    &_scrolled {
      .main_desktop_menu {
        & > ul {
          & > li {
            & > a {
              &::before {
                background-color: $black-color;
              }
            }
          }
        }
        ul {
          > li {
            > a {
              color: $black-color;

              &:hover,
              &:global(.active),
              &.active {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}

.header {
  .main_desktop_menu ul > li ul li:has(.submenu) {
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid white;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .main_desktop_menu ul > li ul {
    background-color: $secondary-color;
    border: none;

    li {
      a {
        color: $white-color;
      }
    }
  }

  &_scrolled {
    .main_desktop_menu ul > li ul li:hover a {
      color: #000;
    }

    .main_desktop_menu ul > li ul li:has(.submenu) {
      &::before {
        border-left: 5px solid rgb(0, 0, 0);
      }
    }
    .main_desktop_menu ul > li {
      .mega_menu {
        &_row {
          border-color: $light-color;
          background-color: $white-color;
        }
        &_main {
          li {
            & > a {
              color: $black-color;
              &::before {
                border-color: $black-color !important;
              }
              &:hover {
                color: $primary-color;
              }
            }
            &.active,
            :global(.active) {
              & > a {
                color: $primary-color;
              }
            }
          }
        }
        &_sub {
          & > ul {
            li {
              a {
                color: $black-color;
                border-color: $light-color;
                &:hover {
                  color: $black-color;
                  border-color: $black-color;
                }
              }
              &.active,
              :global(.active) {
                & > a {
                  border-color: $black-color;
                }
              }
            }
          }
        }
      }
    }
    .main_desktop_menu ul > li {
      ul {
        background-color: $white-color;
        li {
          a {
            color: #000;
          }

          &:hover {
            background: rgb(255 255 255 / 7%);

            > a {
              color: $primary-color;
            }
          }
        }
      }
      .mega_menu {
        &_row {
          &::before {
            background: rgb(255, 255, 255);
            background: linear-gradient(
              360deg,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            );
          }
          &::after {
            background: rgb(255, 255, 255);
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            );
          }
        }
        &_sub {
          background-color: $white-color;
        }
      }
    }
  }
}
:globa(.show-menu) {
}
.header {
  .btn_search {
    display: inline-block;
    padding: 0px 15px;
    color: #000;
    transition: 0.4s color ease;
    @include min(1200) {
      padding: 0 8px;
      color: #fff;
    }
    @include min(1400) {
      padding: 0 15px;
    }
    svg {
      @include max(1499.98) {
        max-width: 22px;
      }
    }
    &:hover {
      color: $primary-color;
    }
  }

  &_scrolled {
    .btn_search {
      color: rgb(0, 0, 0);
    }
  }
}

/* Dark Theme */
:global(.INDblackwhite) {
  .header_mobile_nav_acc_header {
    button {
      &::before,
      &::after {
        background-color: $white-color !important;
      }
    }
  }
  .header {
    .logo {
      opacity: 1 !important;
      &_dark {
        opacity: 0 !important;
      }
    }
    &_scrolled {
      .payment_btn {
        border-color: $white-color !important;
        @include min(1200) {
          &:hover {
            border-color: $primary-color !important;
          }
        }
      }
    }
  }
  .main_desktop_menu {
    ul {
      > li {
        .mega_menu {
          &_row {
            border-top-color: $stroke-color;
          }
          &_main {
            &::-webkit-scrollbar-thumb {
              background: rgb(213 213 213 / 50%);
            }
            &::-webkit-scrollbar-track {
              background-color: $stroke-color;
            }
          }
          &_sub {
            > ul {
              li.active > a {
                border-bottom-color: $white-color !important;
              }
            }
          }
        }
      }
    }
  }
  .nav_sub_menu {
    ul {
      > li {
        > a {
          border-bottom-color: $white-color !important;
        }
      }
    }
  }
}

html {
  &:global(:not(#INDdummy) body:not(#INDdummy).INDwhiteblack > :not(#INDWrap)) {
    .mega_menu {
      &_row {
        &::before {
          background: rgb(255, 255, 255);
          background: linear-gradient(
            360deg,
            rgb(255, 255, 255) 0%,
            rgba(255, 255, 255, 0) 100%
          );
        }
        &::after {
          background: rgb(255, 255, 255);
          background: linear-gradient(
            180deg,
            rgb(255, 255, 255) 0%,
            rgba(255, 255, 255, 0) 100%
          );
        }
      }
      &_main {
        ::-webkit-scrollbar-thumb {
          border-radius: 0px;
          background-color: rgb(0 0 0 / 12%);
        }
        ::-webkit-scrollbar-track {
          background: rgb(213 213 213 / 11%);
          border-radius: 0px;
        }
      }
    }
  }
}
/* Dark Theme End*/

/* High Contrast */
:global(.INDwhiteblack) {
  .main_desktop {
    &_menu {
      > ul {
        > li {
          > a {
            &::before {
              background-color: $black-color !important;
            }
          }
        }
      }
      .mega_menu {
        &_row {
          border-color: $light-color !important;
        }
      }
    }
  }
  .payment_btn {
    border-color: $black-color !important;
    &:hover {
      border-color: $primary-color !important;
    }
  }
}

:global(html:not(#INDdummy) body:not(#INDdummy).INDwhiteblack > :not(#INDWrap)),
:global(
    html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors > :not(#INDWrap)
  ),
:global(
    html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors > :not(#INDWrap)
  ) {
  .hamburger span {
    background-color: $black-color !important;
  }
  .logo {
    opacity: 0 !important;
    &_dark {
      opacity: 1 !important;
    }
  }
  .header {
    .main_desktop_menu {
      ul {
        > li {
          padding: 1px;
          .mega_menu {
            &_main {
              &::-webkit-scrollbar-thumb {
                background: rgb(213 213 213 / 100%);
              }
              &::-webkit-scrollbar-track {
                background-color: $stroke-color;
              }
              li {
                &.parent {
                  > a {
                    &::before {
                      border-color: $black-color;
                    }
                    &:hover {
                      &::before {
                        border-color: $primary-color;
                      }
                    }
                  }
                }
              }
            }
            &_sub {
              > ul {
                li {
                  a {
                    border-bottom-color: rgba(0, 0, 0, 0.2);
                    &:hover {
                      border-bottom-color: $black-color;
                    }
                  }
                  &.active {
                    a {
                      border-bottom-color: $black-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

:global(
    html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors > :not(#INDWrap)
  ) {
  .header .main_desktop_menu ul > li > a span {
    background-color: transparent !important;
  }
  .header {
    .main_desktop_menu {
      ul {
        > li {
          .mega_menu {
            &_row {
              &::before,
              &::after {
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
}
.custom_acces_btn {
  position: static !important;
  padding: 0 !important;
  width: size(40) !important;
  height: size(40) !important;
  border-radius: 50%;
  --indmaincolor: #e6051f !important;
  border: 1px solid $primary-color !important;
  &:hover {
    .icon {
      // filter: brightness(0);
    }
  }
  .icon {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 6px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@keyframes hoverQuick {
  0% {
    width: 0;
  }
  80% {
    width: calc(100% - size(28));
  }
  100% {
    width: calc(100% - size(28));
    transform: scaleX(.5) translateX(50%);
  }
}
