@import "../../styles/util";
@import "../../styles/colors";

.mdx_courses_sec {
  padding-bottom: 37px;

  @include min(1200) {
    padding-bottom: 0;
  }

  :global(.swiper) {
    padding-bottom: 33px;

    @include min(768) {
      padding-bottom: 0;
    }
  }
}
.courses_sec {
  background-color: $light-color;
  // overflow-x: visible;
}
.course_grid {
  @include max(767.98) {
    flex-direction: column;
  }
  @include min(768) {
    display: flex;
    flex-wrap: wrap;
  }
  @include min(1200) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  :global(.swiper-slide) {
    height: auto;
    @include max(767.98) {
      // width: auto !important;
      // max-width: 330px;
    }
  }

  .courses_swiper {
    padding-bottom: 40px;
    margin-bottom: 40px;
    @include min(768) {
      padding-bottom: 0;
      margin-bottom: 0;
      flex: 0 0 auto;
      width: 50%;
    }
    @include max(767.98) {
      // order: 3;
    }
    :global(.swiper-scrollbar.swiper-scrollbar-horizontal) {
      left: 0.75rem;
    }
  }
  &_main {
    position: relative;
    width: 100%;
    min-height: 356px;
    cursor: pointer;
    @include min(768) {
      flex: 0 0 auto;
      width: 50%;
      min-height: 300px;
    }
    @include min(1200) {
      width: 100%;
    }
    @include max(767.98) {
      display: flex;
      align-items: flex-end;
      // order: 2;
    }
    .image_wrap {
      height: 100%;
      padding-top: 100%;
      position: relative;

      @include min(1200) {
        padding-top: calc((555 / 960) * 100%);
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: linear-gradient(rgba(17, 33, 56, 0.18) 0%, #000 100%);
    }
    &:hover {
      :global(.btn-round-grey) {
        background-color: $primary-color;
        color: $white-color;
      }
    }
  }

  &_content {
    padding: 24px 15px 24px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    background-color: transparent !important;

    h4,
    h2 {
      background-color: transparent !important;
    }

    @include min(768) {
      padding: 24px 15px;
      position: absolute;
    }
    @include min(992) {
      padding: 2.3rem size(50);
    }
  }

  @include randomColor(".course_grid_tile", "> div ");

  
  &_item {
    &:nth-of-type(1) {
      // grid-area: 1 / 1 / 2 / 4;
      grid-area: 1 / 1 / 2 / 4; 
    }

    &:nth-of-type(2) {
      // grid-area: 1 / 4 / 2 / 5;
      grid-area: 1 / 4 / 2 / 5; 
    }

    &:nth-of-type(3) {
      // grid-area: 1 / 5 / 3 / 6;
      grid-area: 1 / 5 / 3 / 6; 
    }

    &:nth-of-type(4) {
      // grid-area: 1 / 6 / 3 / 7;
      grid-area: 1 / 6 / 3 / 7; 
    }

    &:nth-of-type(5) {
      // grid-area: 2 / 1 / 3 / 2;
      grid-area: 2 / 1 / 3 / 2; 
    }

    &:nth-of-type(6) {
      // grid-area: 2 / 2 / 3 / 3;
      grid-area: 2 / 2 / 3 / 3; 
    }

    &:nth-of-type(7) {
      // grid-area: 2 / 3 / 3 / 4;
      grid-area: 2 / 3 / 3 / 4; 
    }

    &:nth-of-type(8) {
      // grid-area: 2 / 4 / 4 / 5;
      grid-area: 2 / 4 / 3 / 5; 
    }

    &:nth-of-type(9) {
      // grid-area: 3 / 5 / 4 / 6;
      grid-area: 3 / 5 / 4 / 6; 
    }
    &:nth-of-type(10) {
      // grid-area: 3 / 6 / 4 / 7;
      grid-area: 3 / 6 / 4 / 7; 
    }
    &:nth-of-type(11) {
      // grid-area: 3 / 1 / 4 / 4;
      grid-area: 3 / 1 / 4 / 5; 
    }
  }
  &_imgslider {
    @include max(1199.98) {
      width: 100%;
    }
    @include max(767.98) {
      // order: 2;
    }
  }
}
:global(
    html:not(#INDdummy) body:not(#INDdummy).INDblackwhite > :not(#INDWrap) *:not(img):not(video)
  ),
:global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors > :not(#INDWrap)),
:global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors > :not(#INDWrap)) {
  @include randomColorImportant(".course_grid_tile", "> div");
  .course_grid {
    &_content {
      background-color: transparent !important;
      :global(.btn-round-grey) {
        background-color: $btn-grey-transparent !important;
        * {
          background-color: transparent !important;
        }
      }
    }
  }
}
/* High Contrast */
:global(html:not(#INDdummy) body:not(#INDdummy).INDwhiteblack > :not(#INDWrap)) {
  @include randomColor(".course_grid_tile", "> div");
  .course_grid {
    &_content {
      h4,
      h2 {
        color: $white-color !important;
      }
    }
  }
}
:global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors > :not(#INDWrap)),
:global(html:not(#INDdummy) body:not(#INDdummy).INDbackgroundColors > :not(#INDWrap)) {
  .courses_swiper {
    :global(.swiper-scrollbar.swiper-scrollbar-horizontal) {
      background-color: transparent !important;
    }
  }
}
