@import "../../../styles/util";
.card {
  width: 100%;
  color: $black-color;
  padding: size(40) size(33);
  background-color: $white-color;
  cursor: pointer;
  @include min(992) {
    padding: size(35);
  }
  @include min(1600) {
    padding: size(40);
  }
  &_letter {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
    // -webkit-text-fill-color: rgba(255, 255, 255, 0);
    color: transparent;
    font-family: $secondary-font;
    line-height: 1.2;
    margin-bottom: size(13);
    text-transform: uppercase;
    font-size: 64px;
    transition: all ease-in-out 0.2s;
    @include min(768) {
      font-size: size(90);
    }
    @include min(992) {
      font-size: size(100);
    }
    @include min(1600) {
      font-size: size(130);
    }
  }
  &_title {
    font-size: size(22);
    font-weight: bold;
    margin-bottom: size(20);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &_content {
    font-size: 16px;
    overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 3;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    
    font-size: 1rem;
    line-height: 28px;

    @include min(992) {
      line-height: size(32);
    }

    @include min(1200) {
      line-height: size(34);
    }
    &.show_less {
      position: relative;
      height: size(120);
      @include min(1200) {
        height: size(134);
      }
    }
    ul {
      @extend %ul;
      // padding-left: 0;
      // list-style: none !important;
      // li {
      //     position: relative;
      //     padding-left: 25px;
      //     margin-bottom: 5px;
      //     &::before {
      //         content: '';
      //         position: absolute;left: 0;width: 8px;
      //         height: 8px;border-radius: 50%;
      //         background-color: $primary-color;
      //         top: 7px;
      //     }
      // }

      p {
        line-height: 1.4;
      }
    }
  }
  .readmore {
    color: $primary-color;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    margin-top: size(10);
  }
  &:hover {
    .card_letter {
      // -webkit-text-fill-color: rgba(0, 0, 0, 1);
      color: #000;
    }
  }
}

:global(.INDblackwhite) {
  .card {
    background-color: $mud-black-color !important;
    * {
      background-color: transparent !important;
    }
    &_letter {
      -webkit-text-stroke: 1px rgb(255, 255, 255);
      color: transparent !important;
    }
    &:hover {
      .card_letter {
        color: $white-color !important;
      }
    }
  }
}
:global(html:not(#INDdummy) body:not(#INDdummy).INDwhiteblack>:not(#INDWrap)) {
  .card {
    background-color: $light-color !important;
    * {
      background-color: $light-color !important;
    }
    &_letter {
      color: transparent !important;
    }
    &:hover {
      .card {
        &_letter {
          color: $black-color !important;
        }
      }
    }
  }
}