@import '../../styles/util';


.custom_pagination{
    font-size: size(22);
    
    font-family: $primary-font;
    a{
        border: none!important;
        border-radius: 0px !important;
        color: $black-color;
        font-weight: 500 !important;
        &:focus{
            box-shadow: none!important;
            color: $black-color;
        }
    }
    :global(.page-item.active ){
        background-color: transparent;
        
        :global(.page-link){
            background-color: $primary-color;
            border: none;
            padding: 2px;
            min-width: 43px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 42px;
        }
        
    }
    :global(.page-item){
        margin-left: 0px!important;
        padding: 2px;
            min-width: 43px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 42px;
        &:focus{
            box-shadow: none!important;
        }
        :global(a.page-link){
            min-width: 43px;
            display: flex;
            span {
                display: flex;
                align-items: center;
                &>svg {
                    margin: 0 size(10);
                }
            }
            &:hover{
                color: $primary-color;   
            }            
        }
    }
    :global(.page-item){
        &:nth-child(1){
            padding-right: 0px;
            @include min(768) {
                margin-right: 30px;
            }
            @include min(1200) {
                margin-right: 60px;
            }
            svg{
                stroke-width: 47px;
                stroke: currentColor;
                top: -1px;
                position: relative;
            }
        }
        &:nth-last-child(1){
            padding-left: 0px;
            @include min(768) {
                margin-left: 30px!important;
            }
            @include min(1200) {
                margin-left: 60px!important;
            }
        }
    }
    :global(.page-link){
        &:focus,
        &:hover{
            background-color: transparent;
        }
    }
}
.custom_pagination_wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

