@import '../../styles/util';
@import '../../styles/util';
.review_widget {
    &_swiper {
        padding-bottom: size(45);
        width: 820px;
        max-width: 100%;
        overflow: visible;
        :global {
            .swiper-slide {
                height: auto;
                @include min(992) {
                    opacity: 1;
                    transform: scale(.97);
                    transition: opacity ease-in-out .2s, transform ease-in-out .2s;
                    &.swiper-slide-visible {
                        &.swiper-slide-active {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
    :global {
       .swiper-pagination {
            text-align: left;
            bottom: 0px !important;
            padding-right: var(--bs-gutter-x, 0.75rem);
            padding-left: var(--bs-gutter-x, 0.75rem);
            @include min(768) {
                
            bottom: 0px !important;
            text-align: center;
            }
            @include min(992) {
                bottom: 0 !important;
                padding-right: size(62);
            }
        }

        .swiper-pagination-bullet {
            width: 18px;
            height: 4px;
            background: #fff;
            border-radius: 0px;
            opacity: .32;

            @include min(992) {
                height: size(11);
            }
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
            width: 41px;
            transition: 0.3s all ease;
        }
    }
    &_mobile {
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 200px;
            position: fixed;
            left: 0;
            bottom: size(60);
            background: rgb(0,0,0);
            background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            opacity: 0;
            transform: translateY(40px);
            transition: all ease-in-out .3s;
            pointer-events: none;
        }
        &.shadow {
            &::before {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}