@import "../../styles/util";
@import "../../styles/colors";

.alumni_explore {
    background: #fff;
    padding: 80px 0;
    overflow: hidden;
    @include max(767.98) {
        padding: 40px 0;
    }
    :global {
        .swiper {
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .swiper_navs_next,
        .swiper_navs_prev {
            border: none;
            background: transparent;
            box-shadow: none;
            width: inherit;
            transform-origin: center;
            visibility: visible;
            @include max(767.98) {
                display: none;
            }
        }
        .swiper_navs_next {
            top: -50px;
            right: 0;
            left: inherit;
        }
        .swiper_navs_prev {
            top: -50px;
            right: 80px;
            left: inherit;
        }
        .swiper-button-disabled {
            visibility: visible;
            opacity: 0.7;
        }
        .swiper-scrollbar-horizontal {
            @include min(768) {
                display: none;
            }
        }
        .grid-item {
            margin-right: 30px;
        }
        .cardstack-slider {
            padding: 0;
        }
        .grid-img {
            filter: grayscale(1);
            height: 500px;
            overflow: hidden;
            @include max(767.98) {
                height: 355px;
            }
            &::after {
                content: "";
                background: url('/images/alumni/alumni-explore-gradient.png');
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                
            }
        }
        .grid-cover {
            background: #DBCEAC !important;
        }
        .grid-item {
            &:hover {
                .grid-img {
                    transition: 0.3s ease filter;
                    transition-delay: 0.3s;
                    filter: grayscale(0);
                }
            }
        }
        .explore-container {
            position: relative;
            overflow: visible;
            &::before {
                content: "";
                background: #fff;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateX(-100%);
            }
        }
        .cardstack-slider {
            overflow: visible;
            > div {
                overflow: visible;
                > div, .swiper, .swiper-wrapper {
                    overflow: visible;
                }
            }
        }
    }
}

:global(html:not(#INDdummy) body[data-indblackwhite]:not(#INDdummy)>:not(#INDWrap) *:not(img):not(video)) {
    .alumni_explore {
        :global(.explore-container) {
            &:before {
                background-color: $black-color;
            }
        }
    }
}
:global(html:not(#INDdummy) body[data-indwhiteblack]:not(#INDdummy)>:not(#INDWrap) *:not(img):not(video)) {
    
    .alumni_explore {
        :global(.explore-container) {
            &:before {
                background-color: $white-color;
            }
        }
    }
}