@import "../../styles/util";

.languge {
  &_switcher {
    width: 110px;
    max-width: 100%;
    position: relative;
    &_active {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: $white-color;
    }
    &_icon {
      flex-basis: 19px;
      max-width: 19px;
      width: 19px;
    }
    &_label {
      flex-basis: calc(100% - 30px);
      max-width: calc(100% - 30px);
      width: calc(100% - 30px);
      padding: 0 size(8);
      text-transform: uppercase;
      span {
        display: block;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-decoration: underline;
        text-underline-offset: 1px;
        font-weight: 500;
      }
    }
    &_arrow {
      flex-basis: 11px;
      max-width: 11px;
      width: 11px;
    }
    &_dropdown {
      padding: size(15);
      position: absolute;
      background: transparent;

      /* Note: currently only Safari supports backdrop-filter */
      backdrop-filter: blur(23.734500885009766px);
      --webkit-backdrop-filter: blur(23.734500885009766px);

      background-color: rgba(255, 255, 255, 1);
      left: 0;
      top: 40px;
      visibility: hidden;
      &::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 6px 5px;
        border-color: transparent transparent $white-color transparent;
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
      & > ul {
        position: relative;
        z-index: 1;
      }
    }
  }
}
